<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Adversarial Detection</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css'%}">
    <script src="static/main.js"></script>
</head>

<body>
    <h1>Online Adversarial Detection</h1>

    <div class="container">

        <img class="video_feed" id="frame" src="">

        <img class="video_feed" id="saliency" src="">

        <div>
            <button type="button" id="start">Start Camera!</button>

            <form id="frame_attack_form" name="frame_attack_form">
                <input type="radio" id="attack" name="frame_attack" value="attack">
                <label for="attack">Attack</label><br>
                <input type="radio" id="no_attack" name="frame_attack" value="no_attack">
                <label for="no_attack">No Attack</label><br>
            </form>

            <div>
                <label>eps:</label>
                <input type="number" id="eps" min="1" max="20">
            </div>

            <form id="attack_type_form" name="attack_type_form">
                <input type="radio" id="fast" name="attack_type" value="fast">
                <label for="fast">FastGradientMethod</label><br>
                <input type="radio" id="projected" name="attack_type" value="projected">
                <label for="projected">ProjectedGradientDescent</label><br>
            </form>


            <span id="result"></span>
        </div>


      <div><canvas id="AverageConfidenceGraph"></canvas></div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          const labels2 = [
            '1',
            '2',
            '3',
            '4',
            '5',
            '6',
          ];

          const data2 = {
            labels: labels2,
            datasets: [{
              label: 'Average Confidence Score',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: [0, 0, 0, 0, 0, 0],
            },
            {
              label: 'Above Threshold Average Confidence Score',
              backgroundColor: 'rgb(0, 99, 132)',
              borderColor: 'rgb(0, 99, 132)',
              data: [0, 0, 0, 0, 0, 0],
            }]
          };

          const config2 = {
            type: 'line',
            data: data2,
            options: {
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 1
                    }
                }
            }
          };

          const AverageConfidenceGraph = new Chart(
            document.getElementById('AverageConfidenceGraph'),
            config2
          );
        </script>

        <div><canvas id="StandardDeviationGraph"></canvas></div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>

            const labels = [
                '1',
                '2',
                '3',
                '4',
                '5',
                '6',
              ];

              const data = {
                labels: labels,
                datasets: [{
                  label: 'Standard Deviation of PCA',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: [0, 0, 0, 0, 0, 0],
                }]
              };

              const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        y: {
                            suggestedMin: 0,
                            suggestedMax: 1
                        }
                    }
                }
              };

              const StandardDeviationGraph = new Chart(
                document.getElementById('StandardDeviationGraph'),
                config
              );
        </script>



      <div><canvas id="NumberOfBoundingBoxes"></canvas></div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          const dates3 = [
            '1',
            '2',
            '3',
            '4',
            '5',
            '6',
          ];

          const data3 = {
            labels: dates3,
            datasets: [{
              label: 'Number of Bounding Boxes',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: [0, 0, 0, 0, 0, 0],
            }]
          };

          const config3 = {
            type: 'line',
            data: data3,
            options: {
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 15
                    }
                }
            }
          };

          const NumberOfBoundingBoxes = new Chart(
            document.getElementById('NumberOfBoundingBoxes'),
            config3
          );
        </script>

    </div>

<script type="text/javascript" src="static/main.js"></script>

<script>

var socket = new WebSocket('ws://localhost:8000/ws/some_url/');

socket.onmessage = function(event) {
    var data = JSON.parse(event.data);
    console.log(data);
    update_deviation_graph(data.std_score);
    update_confidence_graph(data.confidence_score, data.above_threshold);
    update_bounding_box_graph(data.num_boxes);
    console.log(event.data)
    document.getElementById("frame").src=data.output;
    document.getElementById("saliency").src=data.saliency;
    send_data();
}

document.getElementById("start").onclick = function() {
    send_data();
}

function send_data() {
    var frame_attack = document.frame_attack_form.frame_attack.value;
    var attack_type = document.attack_type_form.attack_type.value;
    var eps = document.getElementById("eps").value;
    socket.send(JSON.stringify({"frame_to_attack": frame_attack, "attack_type": attack_type, "eps": eps}))
}

</script>
</body>
</html>